.allCompaniesDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
  color: #000;
  background-color: #fff;
}

.title {
  text-align: center;
  margin-bottom: 80px;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;

  color: #000;
  opacity: 0.7;
}

.allCompanies {
  list-style: none;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  /* font-family: Proxima Nova;
  font-weight: bold;
  font-size: 22px;
  line-height: 180%;
  /* identical to box height, or 40px */
}

@media screen and (max-width: 767px) {
  .allCompanies {
    width: 350px;
  }
}

.company {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 170px;
  padding: 20px;
  margin-bottom: 30px;
  color: #000;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .company {
    padding: 0;
    width: 350px;
  }
}

.company:nth-child(3n) {
  margin-bottom: 0;
}

.company:hover,
.company:focus {
  color: #fff;
  background: linear-gradient(92.04deg, #233d97 3.45%, #192550 96.55%), #f0f0f0;
}

.linkToCompanies {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.83;
  color: #e04e49;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.linkToCompanies:hover,
.linkToCompanies:focus {
  transform: scale(1.1);
  color: white;
}

.svg {
  width: 200px;
  margin-top: 30px;
}

.details {
  margin-top: 30px;
}

/* .arrow {
  width: 15px;
  margin-left: 5px;
  stroke: #e04e49;
  fill: #e04e49;
}

.arrow:hover {
  stroke: #fff;
  fill: #fff;
} */

.modalCompanyInfo {
  display: flex;
  justify-content: space-around;
  padding: 60px;
}

.telephone {
  width: 250px;
  height: 10px;
  font-family: Montserrat;
  font-weight: 300;
  font-size: 14px;
  line-height: 200%;

  color: #000;
}

.tel {
  color: #000;
}

.tel:hover,
.tel:focus {
  color: darkred;
}

.mailSvg {
  margin-right: 10px;
}

.mail {
  display: flex;
  align-items: center;
  color: #000;
  cursor: pointer;
  margin-top: 30px;
}

.mail:hover,
.mail:focus {
  transform: scale(1);
  color: darkred;
}

.blockAddress {
  margin-right: 60px;
}

.blockAddress:nth-child(3n) {
  margin-right: 0;
}

.svgComp {
  width: 300px;
}
