.companyDiv {
  display: flex;
  flex-direction: column;
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #fff;
}

.ItalTechnology {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 100px;
}

@media screen and (max-width: 1280px) {
  .ItalTechnology {
    flex-direction: column-reverse;
  }
}

.ItalTechnologyBlockTwo {
  composes: ItalTechnology;
}

@media screen and (max-width: 1280px) {
  .ItalTechnologyBlockTwo {
    flex-direction: column;
  }
}

.ItalTechnology:nth-child(2n) {
  margin-bottom: 0;
}

.companyPhoto {
  max-width: 600px;
  max-height: 600px;
}

.textBlockOne {
  width: 450px;
  margin-top: 80px;
  margin-left: 100px;
}

@media screen and (max-width: 767px) {
  .companyPhoto {
    width: 350px;
    margin-right: auto;
    margin-left: auto;
  }

  .textBlockOne {
    width: 350px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .companyPhoto {
    width: 500px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 1280px) {
  .textBlockOne {
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 90px;
  }
}

@media screen and (min-width: 1441px) {
  .textBlockOne {
    margin-left: 250px;
  }
}

.textBlockTwo {
  width: 400px;
  margin-top: 220px;
  margin-right: 90px;
}

@media screen and (max-width: 767px) {
  .textBlockTwo {
    width: 350px;
    margin-top: 80px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 768px) {
  .textBlockTwo {
    margin-top: 0;
    margin-bottom: 90px;
  }
}

@media screen and (min-width: 1441px) {
  .textBlockTwo {
    margin-right: 250px;
  }
}

.companiesName {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 42px;
  line-height: 1.22;
  margin-bottom: 40px;
}

.text {
  font-family: Gilroy;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.78;
}

.ourServices {
  background-color: #e5e5e5;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 80px;
}

.addressBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #fff;
}

@media screen and (max-width: 767px) {
  .addressBlock {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  /* .address {
    margin-left: 40px;
  } */
}

.telephone {
  width: 250px;
  height: 10px;
  font-family: Montserrat;
  font-weight: 300;
  font-size: 14px;
  line-height: 200%;

  color: #000;
}

.tel {
  color: #000;
}

.tel:hover,
.tel:focus {
  color: darkred;
}

.mailSvg {
  margin-right: 10px;
}

.mail {
  display: flex;
  align-items: center;
  color: #000;
  cursor: pointer;
  margin-top: 30px;
}

.mail:hover,
.mail:focus {
  transform: scale(1);
  color: darkred;
}

.svg {
  width: 300px;
}

@media screen and (max-width: 767px) {
  .svg {
    width: 100px;
  }
}
