.aboutUsPage {
  display: flex;
  flex-direction: column;
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #fff;
}

@media screen and (max-width: 769px) {
  .aboutUsPage {
    width: 768px;
    padding-bottom: 0;
  }
}

.info {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 100px;
}

@media screen and (max-width: 768px) {
  .info {
    width: 755px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1024px) {
  .info {
    width: 900px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 0;
  }
}

.info:nth-child(2n) {
  margin-bottom: 0;
}

.aboutUsPhoto {
  height: 500px;
}

@media screen and (max-width: 769px) {
  .aboutUsPhoto {
    margin-top: 80px;
    margin-bottom: -180px;
  }
}

.textTitle {
  width: 350px;
  margin-bottom: 40px;
  font-family: Proxima Nova;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 180%;

  color: #24356e;
  background-image: url(../images/quote.svg);
  background-repeat: no-repeat;
  background-size: 90px;
}

@media screen and (max-width: 769px) {
  .textTitle {
    width: 290px;
  }
}

.title {
  font-family: Proxima Nova;
  font-weight: bold;
  font-size: 30px;
  line-height: 1.22;
}

.titleTwo {
  composes: title;
}

.textBlockOne {
  width: 450px;
  /* margin-top: 20px; */
  margin-left: 100px;
}

@media screen and (min-width: 1441px) {
  .textBlockOne {
    margin-left: 250px;
  }
}

.textBlockTwo {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin-top: 100px;
  margin-right: 90px;
}

@media screen and (max-width: 769px) {
  .titleTwo {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }

  .textBlockOne {
    width: 350px;
    margin-left: 70px;
  }

  .textBlockTwo {
    width: 600px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1441px) {
  .textBlockTwo {
    margin-right: 250px;
  }
}

.aboutUsTitle {
  font-family: Proxima Nova;
  font-weight: bold;
  font-size: 45px;
  line-height: 1.22;
  margin-bottom: 40px;
}

.text {
  font-family: Gilroy;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.78;
}

.textTwo {
  composes: text;
}

@media screen and (max-width: 769px) {
  .aboutUsTitle {
    width: 250px;
  }

  .text {
    width: 300px;
  }

  .textTwo {
    width: 600px;
    text-align: center;
  }
}

@media screen and (max-width: 1024px) {
  .titleTwo {
    text-align: center;
  }
  .textTwo {
    width: 500px;
    text-align: center;
  }
}

.brochures {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  padding-top: 120px;
  background-color: #fff;
}

.brochuresInfo {
  font-family: Proxima Nova;
  font-size: 16px;
  line-height: 1.37;
  color: #000000;
  opacity: 0.5;
  text-align: center;
}

.brochuresImages {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 80px;
  margin-left: 140px;
}

@media screen and (max-width: 769px) {
  .brochuresImages {
    width: 768px;
    margin-left: 0;
  }
}

.brochuresImg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  margin-right: 180px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 769px) {
  .brochuresImg {
    margin-right: 0;
  }
}

.brochuresImg:nth-child(2n) {
  margin-right: 0;
}

.brochuresImg:hover,
.brochuresImg:focus {
  transform: scale(1.1);
}

.button {
  width: 220px;
  height: 60px;
  margin-left: 15px;
  background-color: white;
  border: 1px solid #e04e49;
  margin-top: 30px;
  outline: none;
  border-radius: 1px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  box-sizing: border-box;
  transform: scale(1.1);
}

.link {
  color: #e04e49;
}

.link:active {
  color: #000000;
}
